# Project executables
PartMATE
*.exe

# Visual Studio Code workspace
.vscode/

# Vendor dir (if existing)
vendor/

# dumps
partkeepr.sql

# Local docker volumes for testing
docker/volumes/mariadb/
docker/volumes/partmate/data/