DOCKER_VOLUME_DIR=./docker/volumes
MARIA_ROOT_PASSWORD=change_me
PARTKEEPR_DATABASE_NAME=partkeepr
PARTKEEPR_DATABASE_USER=partkeepr
PARTKEEPR_DATABASE_PASS=partkeepr
PARTKEEPR_SECRET=change_me_change_me_change_me
